p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: large;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
body
{
    background-color: black;
}
h1
{
    color: red;
}
a
{
    color: red;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
