p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: large;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    background-color: rgb(0, 0, 0, 0.4);
}
body
{
    background-color: black;
}
h1
{
    color: red;
    text-align: center;
}
a
{
    color: red;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    background-color: rgb(0, 0, 0, 0.3);
    margin-left: 500px;
    margin-right: 500px;
}
.darkRedColoring
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(180, 0, 0);
    font-size: large;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
}

.BG{
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.page2BG {
    background-image: url(./assets/TheCampfire.jpg);
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.pg3BG {
    background-image: url(./assets/CabinCabinetPicture.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.pg6BG {
    background-image: url(./assets/ColdBreath.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pg7BG {
    background-image: url(./assets/missingFriend.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pg5BG {
    background-image: url(./assets/CabinDoorOpen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pg11BG {
    background-image: url(./assets/SelfDefense.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.pg10BG {
    background-image: url(./assets/PoliceLights.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pg12BG {
    background-image: url(./assets/OpenWindow.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pg15BG{
    background-image: url(./assets/deadEnd.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pg14BG{
    background-image: url(./assets/bloodTrail.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pg13BG
{
    background-image: url(./assets/CultRitualEnding.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pg13BG p
{
    color: white;
}
.pg9BG
{
    background-image: url(./assets/lockedDoor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pg9BG p
{
    color: whitesmoke;
    
}
.pg4BG
{
    background-image: url(./assets/Woods.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pg8BG
{

    background-image: url(./assets/Woods.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pg8BG p
{
    color: white;
}
.TitleBG
{
    background-image: url(./assets/TitleScreen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainPageBG
{
    background-image: url(./assets/Cabin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}