p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: large;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
}
body
{
    background-color: black;
}
h1
{
    color: red;
    text-align: center;
}
a
{
    color: red;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
.darkRedColoring
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(180, 0, 0);
    font-size: large;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
}

.BG{
    width: 100%;
    height: 100%;
}
